eln-cache
auto-save-list
auto-save
.#*
AGENTS.md
recentf
TUTORIAL
straight
elpa
tree-sitter
places.eld
history
tramp
projects.eld
eca
eshell
transient
backups
url
fff-src
fff-target
fff-built-revision
forge-database.sqlite
*.so
fff-*
