# blade
# c
# cabal
# css
# dockerfile
# elixir
# go
# haskell
# html
# javascript
# json
# just
# lua
# markdown
# nix
# php
# python
# rust
# sh
# tailwindcss
# templ
# toml
# typescript
# typescriptreact
# yuck
# zig
