# arrow
# asterisks
# autopairs
# colorschema
# conform
# dirvish
# focus
# fzf
# gitignore
# gitsigns
# leap
# lsp
# mini
# multicursor
# neotree
# nvim-lint
# smartsplit
# todo-comments
# toggleterm
# treesitter
# trouble
# undotree
# vim-cool

# avante
# bqf
# colorizer
# debugprint
# dressing
# flit
# lualine
# noice
# outline
# persistence
# richclip
# scrolleof
# snacks
# suda
# ufo
# whichkey
# yazi
